p::first-letter{
    font-size: 2rem;
}
.seudoEle{
    border: 2px solid black;
    width: 10%;
    text-align: center;
}
.seudoEle::before{
    content: 'hola';
    background-color: red;
    
}
.seudoEle::after{
    content: 'Perú';
    background-color: red;
}
div:hover{
    background-color: yellow;

}
a:hover{
    color: red;

}
a:focus{
    color: green;
}
a:active{
    color: hotpink;
}