.grid{
    display: grid;
    grid-template-columns: 30% 60% 20%;
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "head head head"
    "menu contenedor enlaces"
    "foot foot foot";

}
.a{
    grid-area: head;
    background-color: blue;
  }

.b{
    grid-area: menu;
    background-color: red;
  }

.c{
    grid-area: contenedor;
    background-color: green;
  }

.d{
    grid-area: foot;
    background-color: orangered;
  }
.e{
    grid-area: enlaces;
    background-color: yellow;
  }
.bordes{
    border: 0px solid;
}
/*
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2fr 1fr;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.grid{
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px;
}
div{
    border: 1px solid black;
}
div [class]{
    border: 1px solid;
}
.a
.b
.c
.d{
    border: 1px solid;
}
*/
