main{
    width: 1200px;
    margin: auto;
}

header{
    background-color: yellow;
}
nav{
    background-color: green ;
    float: left;
    width: 300px;
}

article{
    background-color: grey;
    float: left;
    width: 880px;
}

footer{
    background-color: blue;
  
}
